{% extends "blog/base.html" %}
{% block content %}

<section class="p-3 p-lg-5 d-flex align-items-top" id="about">
      <div class="w-100">
        <h1 class="mb-0">rob
          <span class="text-primary">Blog</span>
        </h1>
        <p class="lead my-3">Greetings and welcome to my blog! Here, you can find out what I'm up to and I'll also recommend loads of really good places to learn and improve your skills.</p>
        </section>
 <hr class="invisible">
 <section>
  <div class="container pt-4">
    {% for post in posts %}
    <div class="row">
      <div class="col-md-10 mx-auto">
        <div class="post-preview">
            <a href="{% url 'blog-post-detail' post.id %}">
            <h2 class="article-title" >{{ post.title }}</h2>
            <p class="post-subtitle">
              {{ post.summary|safe }}
            </p>
            <button type="button" class="btn btn-link pb-3">Click here to read more</button>
            </a>
            <p>{{ post.date_posted|date:"F d, Y" }}</p>
        </div>
        </div>
        </div>
    <hr>
    {% endfor %}
    <div class="container">
    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class="btn btn-outline-dark mb-4" href="?page=1">Newest</a>
            <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.previous_page_number }}">Newer</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-dark mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-dark mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.next_page_number }}">Older</a>
            <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.paginator.num_pages }}">Oldest</a>
        {% endif %}

    {% endif %}
    </div>
    </section>
{% endblock content %}

