{% extends "blog/base.html" %}

{%block nav-content%}
        <div class="dropdown-divider"></div>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">My CV</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#self-taught">Self-Taught</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#this-site">This Site</a>
        </li>
{% endblock nav-content %}


{% block content %}
    <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">rob
          <span class="text-primary">Malyon</span>
        </h1>
        <div class="subheading mb-4">Brighton · UK ·
          <a href="mailto:rob.malyon@gmail.com">rob@rob-blog.dev</a>
        </div>
        <p class="lead mb-3">In my last year at primary school, a "Personal Computer" appeared. I was fascinated. As part of an elite team of like-minded individuals (nerds, some might say), we set out to master this new technology - as well as being responsible for removing and replacing the dust cover at the start and end of each day! By the time I left college, computers were everywhere.</p>
        <p class="lead mb-3">I enjoyed a 20-year long career in retail, culminating in owning my a video-game shop specializing in retro games, Ninja Game Den.</p>
        <p class="lead mb-3">I've also immersed myself in learning to code with an ongoing goal of becoming a full-stack web developer. Now in my 30's I still say that's what I want to be when I grow up!</p>
        <p class="lead mb-3">This is a live demonstration of my experience and learning, in particular the self-directed kind, which I don't have certificates for. And it's also a learning process, undergoing continued development as I discover new technologies and gain new skills. Built using Python's Django Web-Framework, currently, there's more going on behind the scenes than there is out front!</p>
        <p class="lead mb-5">If you're learning to code too, then check out my blog where I'll recommend lots of resources that have helped me. If you want to know if I can help you or your organisation then read on or get in touch!</p>
        <div class="social-icons">
          <a href="https://github.com/robertmalyon" target="_blank">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://www.linkedin.com/in/rob-malyon-6a7493106/" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="https://www.facebook.com/rob.malyon" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Company Director/ Co-Owner</h3>
            <div class="subheading mb-3">Ninja Game Den Ltd</div>
            <p>After Gamestar closed in 2017 I re-established the store as a new company, Ninja Game Den Ltd.</p>
            <p>My responsibilities included administration, finance, marketing, human resources and customer service.</p>
            <p>I created the company website using WordPress and the Woo-Commerce plugin. I also created stock management software in Python (see my <a href="https://github.com/robertmalyon">GitHub</a> for full details!).</p>
            <p>I built display cabinets and remodelled the counter too!</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">May 2017 - October 2019</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Shop Assistant > Manager > Company Director</h3>
            <div class="subheading mb-3">Sussex Gamestar Ltd</div>
            <p>I joined Gamestar at the age of 16 working part-time initially and gradually progresses to running one of the stores and then the whole company.</p>
            <p>My role involved lots of customer service and eventually hiring and managing staff, creating rotas, finance and book-keeping, co-ordinating activities between branches and managing on-line sales through the Amazon marketplace.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">April 2003 - May 2017</span>
          </div>
        </div>

      </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">University of Brighton</h3>
            <div class="subheading mb-3">Certificate of Higher Education (Cert-HE)</div>
            <div>Computer Science</div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">2005 - 2007</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Brighton Hove & Sussex Sixth Form College (BHASVIC)</h3>
            <div class="subheading mb-3">A - Levels</div>
            <p>ICT, Economics, Physics</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">2002 - 2004</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Longhill High School</h3>
            <div class="subheading mb-3">GCSEs</div>
            <p>12 GCSEs in total, inc Engligh, Maths, IT, Biology, Chemistry and Human Physiology & Health</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">1997 - 2002</span>
          </div>
        </div>

      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="self-taught">
      <div class="w-100">
        <h2 class="mb-5">Now I'm Teaching Myself!</h2>

        <div class="subheading mb-3">Programming Languages &amp; Tools In My "Curriculum"</div>
        <p>Things I'm particularly passionate about and am focussing on:</p>
        <ul class="list-inline dev-icons">
          <li class="list-inline-item">
            <i class="fab fa-python"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-html5"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-css3-alt"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-js-square"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-java"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-sass"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-wordpress"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-bootstrap"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-linux"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-ubuntu"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-aws"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-git"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-github"></i>
          </li>
        </ul>

        <ul class="fa-ul mb-0">
          <li class="mb-3">
            <i class="fa-li fa fa-check"></i>
            Python programming for back-end web development as well as self-contained software inc desktop GUI apps.</li>
          <li class="mb-3">
          <i class="fa-li fa fa-check"></i>
            Python's Django Web-Framework for dynamic and database-driven web apps. I've spent a little time with Flask, it would probably have been more appropriate for this project but I ended up dedicating far more time to Django!</li>
          <li class="mb-3">
            <i class="fa-li fa fa-check"></i>
            Mobile-First, Responsive Web Development using HTML5, CSS3, JavaScript, Bootstrap and Sass.</li>
          <li class="mb-3">
            <i class="fa-li fa fa-check"></i>
            Web deployment, cloud and server options, AWS, Linode, PythonAnywhere.</li>
          <li class="mb-3">
            <i class="fa-li fa fa-check"></i>
            Real-life development cycles and workflows inc Agile Development &amp; Scrum.</li>
          <li class="mb-3">
            <i class="fa-li fa fa-check"></i>
            I learned Java for two years whilst at university way back in 2005, but to be honest - I haven't given it much time since. I do still love it, but Python has long since overtaken it in terms of the depth of my knowledge. I'd describe my Java skill-level as rusty, to say the least!</li>
          <li class="mb-3">
            <i class="fa-li fa fa-check"></i>
            I built my company website using WordPress. I also started to build an e-commerce store using the Woo-Commerce plugin including using its API in conjunction with Python to automate processes and to synchronise stock levels between our physical store and online store.</li>
          <li class="mb-3">
            <i class="fa-li fa fa-check"></i>
            I've used Bootstrap quite a bit (including here!) for rapid development. I've made use of free and paid-for templates. I'm working on creating a Bootstrap template.</li>
            <li class="mb-3">
            <i class="fa-li fa fa-check"></i>
            I'm interested in Sass and Pug. I haven't used them 'live' yet, only in tutorials but I intend to incorporate them into a future project.</li>
        </ul>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
      <div class="w-100">
        <h2 class="mb-5">Interests</h2>
        <p>When I'm not in front of a computer, I have a strong interest in DIY and building things. I've taken on lots of projects at home including building stud walls, redecorating every room multiple times and lots of gardening. I have undertaken quite a large garden landscaping project involving excavating many tons of soil and then building a large decking area with pergola and a retaining wall followed by levelling and returfing the rest of the garden.</p>
        <p>I'm always fixing things including small gadgets like mobile-phones as well as large appliances like our tumble drier, washing machine and everything in-between.</p>
        <p>I love reading, both physical books and audiobooks. I also enjoy listening to podcasts. My favourite book is probably The Count of Monte Cristo, which I've read more times than I can remember and regularly quote, much to everyone's annoyance!</p>
        <p>I play videogames, mainly retro. I like to cook. I like going on long walks with my dogs (and my audiobooks/podcasts).</p>
        <p class="mb-0">Most of all I love spending time with my wife and four children.</p>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="this-site">
      <div class="w-100">
        <h2 class="mb-5">This Website</h2>
        <ul class="fa-ul mb-0">
          <li class="mb-3">
            <i class="fa-li fab fa-python"></i>
            Built using Python's Django Web-Framework, it originated from a Django tutorial series on YouTube by Corey Schafer. As a project it now contains three 'apps'.</li>
          <li class="mb-3">
            <i class="fa-li fab fa-html5"></i>
            The app uses a templating system and template inheritance to deliver HTML.</li>
          <li class="mb-3">
            <i class="fa-li fab fa-bootstrap"></i>
            I've used a Bootstrap template by Start Bootstrap for rapid deployment. I've customised it, but I'm also working on a from-scratch design to make it a bit more unique.</li>
          <li class="mb-3">
            <i class="fa-li fab fa-css3"></i>
            I've added custom CSS styles.</li>
            <li class="mb-3">
            <i class="fa-li fab fa-js"></i>
            There's a little bit of JavaScript, I'll be adding a lot more and also incorporating elements from the React library.</li>
          <li class="mb-3">
            <i class="fa-li fab fa-linux"></i>
            It's currently hosted on PythonAnywhere.</li>
          <li class="mb-3">
            <i class="fa-li fab fa-git"></i>
            I'm using git version control.</li>
          <li class="mb-3">
            <i class="fa-li fab fa-github"></i>
            The source code is available on Github.</li>
            <li class="mb-3">
            <i class="fa-li fas fa-spell-check"></i>
            The content is all written and edited by my good self, with a little bit of help from Grammarly.</li>
            <li class="mb-3">
            <i class="fa-li fas fa-pencil-ruler"></i>
            Design and colour schemes are not my strongest area, but I'm working on that and I'm using lots of really good tools and resources like Balsamiq.</li>
            <li class="mb-3">
            <i class="fa-li fab fa-trello"></i>
            I'm really benefitting from having spent time learning about Agile and Scrum and I'm actively trying to mimic elements, albeit on a one-man micro scale. In particular I'm really benefitting from the help of Trello.</li>
        </ul>
      </div>
    </section>

  </div>
{% endblock content %}